{{> head}}

	<body>
		<div class="wrapper">
			<section class="hero">
				<div class="hero__image" style="background-image:url(images/1.jpg);">
					<div class="hero__wrapper">
						<div class="hero__content text-center">
							<div class="container">
								<h2>Headline 2</h2>
								<p>Lorem ipsum dolor sit amet adipiscing elit consectetuer</p>
							</div>
						</div>
						<div class="logo pt-5">
							<div class="container">
								<div class="col-12 d-md-flex justify-content-between text-center">
									<img src="images/logo-1.png" alt="">
									<img src="images/logo-2.png" alt="">
									<img src="images/logo-3.png" alt="">
									<img src="images/logo-4.png" alt="">
									<img src="images/logo-5.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- hero -->

			{{> header}}

			<section id="services" class="section pt-100">
				<div class="container">
					<div class="section__heading text-center mb-4">
						<h2>Section Heading H2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
					</div>
					<div class="d-md-flex justify-content-md-center">
					    <div class="col col-md-3">
					    	<img src="images/1.jpg" alt="" class="img-fluid border">
					    	<h3 class="mt-3 mb-0">Column Title</h3>
					    	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    </div>
					    <div class="col col-md-3">
					    	<img src="images/1.jpg" alt="" class="img-fluid border">
					    	<h3 class="mt-3 mb-0">Column Title</h3>
					    	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    </div>
					    <div class="col col-md-3">
					    	<img src="images/1.jpg" alt="" class="img-fluid border">
					    	<h3 class="mt-3 mb-0">Column Title</h3>
					    	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    </div>
				  	</div>
				</div>
			</section><!-- services -->

			<section class="section pt-100">
				tes
			</section>

			<div style="height: 800px"></div>
		</div><!-- wrapper -->

{{> footer}}