<nav class="navigation-main sticky-navigation navbar-expand-lg navbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div id="navbar" class="collapse navbar-collapse justify-content-center" role="navigation">
			<ul class="navbar-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#services">Services</a>
				</li>
				<li>
					<a href="#about">About Us</a>
				</li>
				<li>
					<a href="#release">Releases</a>
				</li>
				<li>
					<a href="#news">News</a>
				</li>
				<li>
					<a href="#testimonial">Testimonial</a>
				</li>
				<li>
					<a href="#location">Contact Us</a>
				</li>
			</ul>
		</div>

		<div class="justify-content-end">
			<a class="btn btn-outline-primary" href="#">Contact Us</a>
		</div>
	</div>
</nav>