// Typography
h1,h2,h3,h4,h5,h6 { color: $black-color; }
h1 { font-size: 52px; font-weight: 700; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 700; }
h4 { font-size: 18px; }
h5 { font-size: 16px; font-weight: 600; }
h6 { font-size: 14px; font-weight: 600; }
p {
	color: $body-color;
	font-size: 14px;
}
a {
	color: $primary-color;
	&:hover {
		color: $primary-color;
		text-decoration: none;	
	}
}

// Global tags
html, body {
	font-family: $font;
	height: 100%;
	line-height: 1.6;
	width: 100%;
}
.wrapper {
	height: 100%;
	width: 100%;
}