.my-6 {
	margin-bottom: 60px;
	margin-top: 60px;
}
.my-7 {
	margin-bottom: 70px;
	margin-top: 70px;
}
.my-8 {
	margin-bottom: 80px;
	margin-top: 80px;
}
.my-9 {
	margin-bottom: 90px;
	margin-top: 90px;
}
.my-10 {
	margin-bottom: 100px;
	margin-top: 100px;
}
.mb-6 {
	margin-bottom: 60px;
}
.mb-7 {
	margin-bottom: 70px;
}
.mb-8 {
	margin-bottom: 80px;
}
.mb-9 {
	margin-bottom: 90px;
}
.mb-10 {
	margin-bottom: 100px;
}
.mt-6 {
	margin-top: 60px;
}
.mt-7 {
	margin-top: 70px;
}
.mt-8 {
	margin-top: 80px;
}
.mt-9 {
	margin-top: 90px;
}
.mt-10 {
	margin-top: 100px;
}
.py-6 {
	padding-bottom: 60px;
	padding-top: 60px;
}
.py-7 {
	padding-bottom: 70px;
	padding-top: 70px;
}
.py-8 {
	padding-bottom: 80px;
	padding-top: 80px;
}
.py-9 {
	padding-bottom: 90px;
	padding-top: 90px;
}
.py-10 {
	padding-bottom: 100px;
	padding-top: 100px;
}
.pb-6 {
	padding-bottom: 60px;
}
.pb-7 {
	padding-bottom: 70px;
}
.pb-8 {
	padding-bottom: 80px;
}
.pb-9 {
	padding-bottom: 90px
}
.pb-10 {
	padding-bottom: 100px
}
.pt-6 {
	padding-top: 60px;
}
.pt-7 {
	padding-top: 70px;
}
.pt-8 {
	padding-top: 80px;
}
.pt-9 {
	padding-top: 90px
}
.pt-10 {
	padding-top: 100px
}